.NavigationItem {
    text-decoration: none;
    color: white;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 300;
    transition: transform 0.25s linear;
    display: flex;
}

.NavigationItem:hover {
    transform: scale( 1.1 );
}