.Patient {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    width: 30%;
    background-color: rgb(247, 245, 245);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    font-family: "Noto Sans TC", sans-serif;
}

.Patient:nth-of-type(2n) {
    position: relative;
    left: 30%;
}

.Name {
    width: 100%;
}

.Name p {
    color: rgb(6, 101, 179);
    font-size: 1.5rem;
    margin: 0;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.Info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.Info p {
    padding-left: 5px;
}

.Icon {
    font-size: 1.5rem;
    color: rgb(6, 101, 179);
    margin-right: 5px;
}

.Button {
    background-color: rgb(6, 101, 179);
    border: 1px solid black;
    color: white;
    padding: 5px 10px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.1s linear, background-color 0.25s linear;
}

.Button:hover {
    background-color: rgb(59, 125, 179);
    transform: scale( 1.1 );
}
