.Card {
    background-color: white;
    min-height: 92.5vh;
    border-radius: 50% 0 50% 0;
    transition: border-radius 0.5s linear;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.CardShow {
    border-radius: 75% 0 0 0;
}

.PersonalInfo {
    padding: 7.5% 0 0 7.5%;
    color: white;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.PersonalInfo div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    margin: 10px 0;
}

.PersonalInfo p {
    margin: 0;
    white-space: nowrap;
}

.Name {
    font-size: 1.85rem;
    border-bottom: 1px solid white;
}

.Icon {
    margin-right: 5px;
}

.Observations {
    align-self: flex-end;
    width: 100%;
    position: relative;
}

.Axis {
    content: "";
    background-color: rgb(85, 85, 85);
    width: 25px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 50px;
}

.Axis::before {
    content: "TIME";
    font-family: "Noto Sans TC", sans-serif;
    color: rgb(85, 85, 85);
    font-size: 1.5rem;
    position: absolute;
    top: -150px;
    left: -15px;
}

.Axis::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid rgb(85, 85, 85);
    top: -80px;
    left: -27.5px;
}
