.PatientsWrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 50% 0 0 0;
    width: 100%;
    height: 100vh;
}

.Patients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
    height: 100%;
    transform: translateX( 100% ) scale( 0 );
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.25s ease-out;
}

.PatientsShow {
    transform: translateX( 0 ) scale( 1 );
    opacity: 1;
}

.Sort {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 5px;
}

.Sort p {
    margin: 0;
    color: white;
    margin-right: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}

.Sort select {
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: transform 0.25s linear;
}

.Sort select:hover {
    transform: scale( 1.1 );
}

@media ( max-width: 1070px ) {
    .Sort {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .Sort p {
        margin-bottom: 10px;
    }
}

@media ( max-width: 730px ) {
    .Patients {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .Sort p {
        font-size: 1rem;
    }
}

@media ( max-width: 530px ) {
    .Patients {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
}

@media ( max-width: 470px ) {
    .PatientsWrapper {
        background-color: rgb(6, 101, 179);
        height: unset;
        min-height: 100vh;
    }

    .Sort {
        align-items: center;
    }
}